*{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
/*nav barcss start*/
.navbar{
    padding:1.8%;

}
.navbar a{
    text-decoration: none;
    font-size: 17px;
    color: black;
    margin-left: 4%;
    vertical-align: middle;
    font-weight: bold;

}
.logo{
    margin:0%    !important
}
#signin{
    background-color: #00baf2;
    color: white;
    border-radius: 25px;
    padding: 1%;
    border:none;
    width:10%;
    font-weight: bold;
    font-size: 18px;
}
#signin:hover{
    color: #2b5486;

}
/*nav barcss end*/
/*wallet css start*/
.wallet{
    background-color: #f6f6f6;
    text-align: center;
    padding: 1%;
}
/*wallet css end*/

/*section2 start*/
.sec2{
    display: flex;
    justify-content: space-between;
    padding: 5% 0% 5% 5% ;
}

.UPI{
    margin-left: 3%;

}

.UPI p{
    font-size: 24px;
    font-weight: normal;
    margin-left: 3%;

}
.UPI h1{
    margin-left: 3%;
}
#app{
    border:1px solid black;
    width:38%;
    border-radius: 23px;
    padding: 2%;
    background-color: black;
    color:white;
    font-size: 17px;
    margin-left: 4%;
    margin-top: 6%;

}
#app:hover{

background-color: white;
color: black;
}
#app i{
   margin: 0% 2%;
}
.one{
    margin-top: 5%;
    font: 60px;
}
.two2{
    font: 60px;
}
.two{
    margin-top: 6%;
}

/*section2 end*/
/*section3 start*/
.head2{
    padding-top: 4%;
    padding-left: 7%;
    text-align: left;
    font-size: 35px;
    color: white;
}
.sec3{
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: #00adf2;
}
.div3{
    display: flex;
    justify-content: space-between;
    padding: 6%;
    margin-left: 4%;
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 18px;
    line-height:30px ;
 font-family: 'Poppins', sans-serif;

}
.div3 a{
    text-decoration: none;
    color: white;
}
/*section end*/

/*section3 start*/

.sec{
    background-color: rgb(239, 239, 239,0.6);
    padding: 4% 12%;
}
#h3{
    margin-top: 8%;
    margin-left: 16%;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5%;

}
.sec5{
    display:flex;
    justify-content: center;
    border: none;
    padding-top: 5%;
    border-radius: 20px;
}
.sec1id{
    font-size: 40px;

}
.sec5id{
    font-size: 20px;
    
}
#appp{
    border: 1px solid black ;
    width: 54%;
    border-radius: 23px;
    padding: 2%;
    background-color: black;
    color: white;
    font-size: 17px;
    margin-left: 4%;
    margin-top: 3%;
    cursor: pointer;
}

#app:hover{

    background-color: white;
    color: black;
}
#appp i{
    margin :0% 2%;
}

.i19{
    padding-left:10%;
    padding-bottom:5%;
}
/*end section 40*/

.sec8{
    display: flex;
    padding-top: 0%;
    margin-top:5%;
    justify-content: space-between;

}
.inner8{
width:40%;
padding:3%;
background-color:white;

}
.i20{
    margin-right: 7%;
    margin-bottom: 0%;
}
/*end section 5*/

.h11{
    padding-top: 5%;
    padding-left: 10%;
}
.sec20{
    display: flex;
    justify-content: center;

}
.sec20div1{
    padding-top: 5%;
    padding-left: 10%;
}
.sec20div2,.sec20div3,.sec20div4{
    padding-top: 5%;
    
}
/*end section6*/
/*section7*/

.sec21{
    padding: 15% 10% 3% 10%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}
#sec21div1{
    padding-left: 0%;
    background-color: white;
    color: black;
}
.sec21 div{
    background-color: #00baf2;
    margin: 0% 1%;
    text-align: center;
    color: white;
    border-radius: 8%;

}
.sec21 img{
    margin-top: 4%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 2%;
    width:80%
}
.sec21 h1{
    opacity: 100%;
}