*{
	margin:0%;
	font-family: Arial, Helvetica, sans-serif;
}
.navbar{
	padding: 1.8%;
	
}
.navbar a{
	text-decoration: none;
	font-size: 17px;
	color: black;
	margin-left: 4%;
	vertical-align: middle;
	font-weight: bold;
}
.logo{
	margin: 0% !important;	
}
#signin{
	background-color: #00baf2;
	color: white;
	border-radius: 25px;
	padding: 1%;
	margin-left: 1%;
	border:none;
	width: 10%;
	font-weight: bold;
	font-size: 18px;
}
#signin:hover {
	background-color: #2b54a6;
}
/*  */
.wallet{
	background-color:#f6f6f6;
	text-align: center;
	padding: 1%;
}
/*  */ 
.sec2{
	display: flex;
	justify-content: space-between;
	padding: 5% 0% 5% 5%;
	margin-top: 2%;
}
.UPI{
	margin-left: 3%;
}
.UPI p{
	font-size: 24px;
	font-weight: normal;
	margin-left: 3%;
}
.UPI h1{
	margin-left: 3%;
}
#app{
	border: 1px solid black;
	width: 38%;
	border-radius: 23px;
	padding: 2%;
	background-color: black;
	color: white;
	font-size: 17px;
	margin-left: 4%;
	margin-top:6%;		
}
#app:hover{
	background-color: white;
	color: black;
}
#app i{
	margin: 0% 2%;
}
.one{
	margin-top: 5%;
	font-size: 60px;
}
.two2{
	font-size: 60px;
}
.two{
	margin-top: 6%;
}
/* sec2 */
.head2{
	padding-top: 4%;
	padding-left: 7%;
	text-align: left;
	font-size: 35px;
	color: white;
}

.sec3{
	text-align: center;
	margin-top: 0%;
	margin-bottom: 0%;
	background-color: #00adf2;
}
.div3{
	display: flex;
	justify-content: space-between;
	padding: 6%;
	margin-left: 4%;
	font-weight: bold;
	text-decoration: none;
	color: black;
	font-size: 18px;
	line-height: 30px;	
	font-family: 'Poppins', sans-serif;
}
.div3 a{
	text-decoration: none;
	color: white;
}
/*  */
.sec4{
	text-align: center;
	background-color: #2b54a6;
}


#h3{
	margin-top: 8% ;
	margin-left: 10%;
	font-size: 40px;
	font-weight: bold;
}
.img1{
	margin-left: 15%;
	margin-top: 10%;
}
.div5{
	display: flex;
	height: 65%;
	padding: auto;
}	
.sec5{
	display: flex;
	justify-content: center;
	border: none;
	padding-top:5%;
	border-radius: 20px;
}
#sec1id{
	font-size: 40px;
}
#sec5id{
	font-size: 20px;
}

#h3{
	margin-bottom: 5%
}
#appp{
	border: 1px solid black;
	width: 54%;
	border-radius: 23px;
	padding: 2%;
	background-color: black;
	color: white;
	font-size: 17px;
	margin-left: 4%;
	margin-top:3%;	
	cursor: pointer;	
}
#appp:hover{
	background-color: white;
	color: black;
}
#appp i{
	margin: 0% 2%;
}
.i19{
	padding-left: 10%;
	padding-bottom:5%;
}
.sec{
	background-color:rgba(239,239,239,0.6);
	padding: 4% 12%;

}
.sec6{
	display: flex;
	justify-content: center;
	border: none;
	padding-top: 6%;
	margin-top: 5%;
	border-radius: 20px;
}
#pra3{
	font-size: 20px;
}
#pra3h1{
	font-size: 30px;
}
#app3{
	border: 1px solid black;
	width: 54%;
	border-radius: 23px;
	padding: 2%;
	background-color: black;
	color: white;
	font-size: 17px;
	margin-left: 4%;
	margin-top:1%;	
	margin-bottom: 5%;
	cursor: pointer;	
}
#app3:hover{
	background-color: white;
	color: black;
}
#app3 i{
	margin: 0% 2%;
}
/*  */

.sec7{
	display: flex;
	justify-content: center;
	border: none;
	padding: 5%;
	margin-top: 5%;
	border-radius: 20px;

}
#app4{
	border: none;
	width: 24%;
	border-radius: 23px;
	padding: 3%;
	background-color:#002970 ;
	color:white;
	font-size: 17px;
	margin-left: 4%;
	margin-top:6%;	
	font-weight: bold;
	cursor: pointer;	
}
#app4:hover{
	background-color:#00adf2 ;
	color: white;
}
.i20{
	margin-right:7%;
	margin-bottom: 0%;
}
/*  */
.sec8{
	display: flex;
	padding-top: 0%;
	margin-top: 5%;
	justify-content: space-between;
}
.prakash8{
	width: 40%;
	padding: 3%;
	background-color: white;
	border-radius: 20px;
}
.sec11{
	display: flex;
	justify-content:space-around;
	border: 1px solid whitesmoke;
	padding-top: 2%;
	margin-top: 4%;
	margin-bottom: 5%;
	padding: 3% 5% 3% 5%;
}
.section15{
	padding-top: 10%;
	border:none;
	background-image: url(images/33.png);	
	display: flex;
	padding-left: 10%;
}
.img31{
	padding-right: 10%;
	justify-content: center;
	margin-bottom: 9%;
}
#app5{
	border: none;
	width: 26%;
	border-radius: 23px;
	padding: 3%;
	background-color:#002970 ;
	color:white;
	font-size: 17px;
	margin-left: 4%;
	margin-top:1%;	
	font-weight: bold;
	font-family: sans-serif;	
	cursor: pointer;
}
#app5:hover{
	background-color:#00adf2 ;
	color: white;
}
.sec16{
	margin: 0%;
	border: 1px solid white;
	display: flex;
	padding: 5%; 
}
.sec16div1{
	margin-left: 10%;
	margin-top: 5%;
	justify-content: center;
	font-family: sans-serif;
}
.img35{
	margin-bottom:4%;
}
#app6{
	border: none;
	width: 26%;
	border-radius: 23px;
	padding: 3%;
	background-color:#002970 ;
	color:white;
	font-size: 17px;
	margin-left: 4%;
	margin-top:6%;	
	font-weight: bold;	
	cursor: pointer;
}
#app6:hover{
	background-color:#00adf2 ;
	color: white;
}
.section17{
	padding:3% 5% 4% 8%;
	border: 1px solid white;
	background-color: rgba(239,239,239,0.6);	
	display: flex;
	padding-left: 10%;
}
.img36{
	padding-right: 10%;
	justify-content: center;
	margin-top:5%;
}
#app7{
	border: none;
	width: 24%;
	border-radius: 23px;
	padding: 3%;
	background-color:#002970 ;
	color:white;
	font-size: 17px;
	margin-left: 4%;
	margin-top:6%;	
	font-weight: bold;
	cursor: pointer;
}
#app7:hover{
	background-color:#00adf2 ;
	color: white;
}
.sec17div1{
	margin: 5%;
	font-family: sans-serif;
}
#hello{
	padding: 5% 0% 0% 4%;
	margin-left: 5%;
}
.sec18{
	margin-top: 6%;
	border: none;
	border-radius:20px;
	width: 70%;
	margin: 3% 7% ;
	display: flex;
	padding: 5% 7% 5% 7%; 
	justify-content: space-around;
}
.sec18div1{
	margin-left: 10%;
	margin-top: 5%;
	justify-content: center;
	font-family: sans-serif;
}
.img38{
	margin:3% 5% 5%;
	padding-left:50%; 
}
#app8{
	border: none;
	width: 50%;
	border-radius: 23px;
	padding: 5%;
	background-color:#002970 ;
	color:white;
	font-size: 17px;
	margin-left: 4%;
	margin-top:6%;	
	font-weight: bold;
	cursor: pointer;
}
#app8:hover{
	background-color:#00adf2 ;
	color: white;
}
.sec19{
	margin-top: 6%;
	border: none;
	border-radius: 20px;
	width: 70%;
	margin: 3% 7% ;
	display: flex;
	padding: 5% 7% 5% 7%; 
	justify-content: space-around;
}
.sec19div1{
	margin-left: 10%;
	margin-top: 5%;
	justify-content: center;
	font-family: sans-serif;
}
.img39{
	margin:3% 5% 5%;
	padding-left:50%; 
}
#app9{
	border: none;
	width: 56%;
	border-radius: 23px;
	padding: 6%;
	background-color:#002970 ;
	color:white;
	font-size: 17px;
	margin-left: 4%;
	margin-top:6%;	
	font-weight: bold;
	cursor: pointer;
}
#app9:hover{
	background-color:#00adf2 ;
	color: white;
}
.h11{
	padding-top: 5%;
	padding-left: 10%;
}
.sec20div1{
	padding-top: 5%;
	padding-left: 10%;
}
.sec20div2{
	padding-top: 5%;
}
.sec20div3{
	padding-top: 5%;
}
.sec20div4{
	padding-top: 5%;
}
.sec20{
	display: flex;
	justify-content: center;
}
.sec21{
	padding:15% 10% 3% 10%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 5%;
}
#sec21div1{
	padding-left: 0%;
	background-color: white;
	color: black;
}
.sec21 div{
	background-color: #00baf2;
	margin: 0% 1%;
	text-align: center;
	color: white;
	border-radius: 8%;
}
.sec21 img{
	margin-top: 4%;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 2%;
	width: 80%;
}
.sec21 h1{
	opacity: 100%;
}
.sec22{
	padding:8% 10% 3% 10%;
	display: flex;
	justify-content: space-between;
}
#sec22div1{
	padding-left: 1%;
	background-color: white;
	color: black;
}
.sec22 div{
	background-color: #00baf2;
	margin: 0% 1%;
	text-align: center;
	color: white;
	border-radius: 10px;
	padding-top: 1%;
}
.sec22 img{
	margin-top: 4%;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 2%;
	width: 50%;
}
.sec22 p{
	font-size: 13px;
}
.sec23{
	display: flex;
	
	padding:4% 10%;
	background-color: rgba(239,239,239,0.6);
	
}
.sec23 h1{
	width: 20%;
}
#sec23div1{
	margin-left: 40%;
	width: 20%;
}
#sec23div1 a{
	margin-right: 16%;
} 
@media(max-width: 380px){
	.navbar a{
		font-size: 3.8px;
    }
 	.one{
		font-size: 20px;
    }
	.two2{
		font-size: 20px;
	}
	#app{
		width: 60%;
		font-size: 8px;
	}
	.head2{
		font-size: 17px;
	}
	.wallet{
		font-size: 10px;
	}
	.two{
		font-size: 11px !important;
	}
	.div3{
		flex-direction: column;
		align-items: center;
	} 
	.sec4 img{
		width: 38%;
	}
	#h3{
		font-size: 20px;
	}
	#sec1id{
		font-size: 15px;
	}
	.sec5p{
	font-size: 12px;
	}
	#appp{
		font-size: 6px;
	}
	.i19{
		width: 30%;
	}
	#sec5id{
		font-size: 13px;
	}
	#pra3{
	font-size: 10px;
	}
	#pra3h1{
	font-size: 15px;
	}
	.sec6 p{
		font-size: 12px;
	}
	#app3{
		font-size: 6px;
	}
}


